<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/common::cssLink(~{::title},~{::link})">
    <title>请假申请</title>

    <link th:href="@{/asserts/css/leave.css}" rel="stylesheet">


</head>

<body>
<div th:replace="~{commons/bar::topbar}"></div>

<style type="text/css">
    .hideBtn {
        display: none;
    }
    .no-footer {
        width: 93%;
    }

    .dataTables_length {
        padding-top: 10.570px;
        padding-left: 20px;
    }

    .table-hover th {
        text-align: center;
    }

    .help-block {
        color: #c21a13;
    }
    #file {
        display: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <!--(activeUri='/dashboard')-->
        <div th:replace="commons/bar :: #sidebar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="chartjs-size-monitor"
                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>

            <div class="wpp_main">
                <div class="wpp_main_content">
                    <div class="wpp_header">用户列表</div>


                    <div class="leave_content">

                        <div class="caigo_list">
                            <form class="form-inline mb-2" style="margin-top: 10px;">
                                <div class="form-group" >
                                    <!---->
                                    <label for="name" class="sr-only">名称</label>
                                    <div class="form-group mb-2">
                                        <input id="name" name="name" class="form-control"  placeholder="用户姓名">
                                    </div>
                                </div>
                                <div style="padding-left: 10px"></div>
                                <button type="button" class="btn btn-outline-secondary  mb-2" id="userQueryBtn"  data-toggle="tooltip" data-placement="top" title="搜索">
                                    <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                              clip-rule="evenodd"/>
                                        <path fill-rule="evenodd"
                                              d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </button>
                                <div style="padding-left: 10px"></div>
                                <button type="button" class="btn btn-outline-success  mb-2" id="addUserBtn"
                                        data-toggle="tooltip" data-placement="top" title="添加用户">
                                    <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
                                              clip-rule="evenodd"/>
                                        <path fill-rule="evenodd"
                                              d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"
                                              clip-rule="evenodd"/>
                                        <path fill-rule="evenodd"
                                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
                                </button>
                                <div style="padding-left: 10px"></div>
                                <button type="button" class="btn btn-outline-primary  mb-2" id="resetBtn"  data-toggle="tooltip" data-placement="top" title="刷新" >
                                    <svg class="bi bi-arrow-repeat" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 00-.708 0l-2 2a.5.5 0 10.708.708L2.5 8.207l1.646 1.647a.5.5 0 00.708-.708l-2-2zm13-1a.5.5 0 00-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 00-.708.708l2 2a.5.5 0 00.708 0l2-2a.5.5 0 000-.708z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 00-4.192 2.273.5.5 0 01-.837-.546A6 6 0 0114 8a.5.5 0 01-1.001 0 5 5 0 00-5-5zM2.5 7.5A.5.5 0 013 8a5 5 0 009.192 2.727.5.5 0 11.837.546A6 6 0 012 8a.5.5 0 01.501-.5z" clip-rule="evenodd"/>
                                    </svg>
                                </button>
                            </form>


                            <!--&lt;!&ndash;修改成bootstrap-datatable&ndash;&gt;-->
                            <!--leaveTable-->
                            <table id="userTable" class="table table-hover" cellspacing="0"
                                   style="width: 95%!important;margin-top: 10px">
                                <thead>
                                <tr>

                                    <!--<th style="width: 8%;">头像</th>-->
                                    <!--<th style="width: 10%;">姓名</th>-->
                                    <!--<th style="width: 10%;">部门</th>-->
                                    <!--<th style="width: 15%;">职位</th>-->
                                    <!--<th style="width: 15%;">联系方式</th>-->
                                    <!--<th width="15%">工作状态</th>-->
                                    <!--<th style="width: 20%;">操作</th>-->
                                </tr>
                                </thead>
                                <tbody align="center">
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </div>
        </main>
    </div>
    <div class="row" style="height: 100px"></div>
</div>


<div class="modal fade bd-example-modal-lg" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editUserModalLabel"></h4>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">

                <form id="userForm">
                    <input type="hidden" name="id">
                    <div class="form-row">
                        <img src="../asserts/img/null.jpg" id="image" style="width: 200px;height: 200px"
                             class="rounded mx-auto d-block" alt="个人头像">
                        <input type="file" name="file" multiple="multiple" id="file">
                    </div>
                    <div class="form-row">
                        <input type="hidden" name="imgUrl">
                        <div class="form-group col-md-6">
                            <label for="userName"><font size="2" color="red">*</font>昵称</label>
                            <!--type="email"-->
                            <input class="form-control" id="userName" name="userName"
                                   placeholder="请以真实姓名方便内部联系">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telephone"><font size="2" color="red">*</font>电话</label>
                            <input type="phone" class="form-control" id="telephone" name="telephone"
                                   placeholder="请填写">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="idCard">证件号码</label>
                            <input type="text" class="form-control" id="idCard" name="idCard"
                                   placeholder="请填写">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="birthday">出生日期</label>
                            <input type="text" class="form-control" id="birthday" name="birthday"
                                   placeholder="请填写">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="lastLoginTime">上次登入时间</label>
                            <input type="text" class="form-control" id="lastLoginTime" name="lastLoginTime"
                                   placeholder="请填写" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="createTime">账号创建时间</label>
                            <input type="text" class="form-control" id="createTime" name="createTime"
                                   placeholder="请填写" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="dept">部门</label>
                            <select id="dept" name="deptId"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="createTime">职位</label>
                            <select id="position" name="positionId"></select>
                        </div>
                    </div>
                    <div class="form-row  showPassword" style="display: none;">
                        <div class="form-group col-md-6">
                            <label for="passwordAdmin">密码</label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="passwordAdmin"
                                       placeholder="请输入" aria-label="请输入">
                                <!--<div class="input-group-append">-->
                                <!--<span class="input-group-text" id="basic-addon2">@qq\123\sohu.com</span>-->
                                <!--</div>-->
                            </div>

                        </div>
                        <div class="form-group col-md-6" >
                            <label for="checkPasswordAdmin">确认密码</label>
                            <input type="password" class="form-control" id="checkPasswordAdmin"
                                   placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">邮箱</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="email" name="email"
                                       placeholder="请输入" aria-label="请输入" aria-describedby="basic-addon2">
                                <!--<div class="input-group-append">-->
                                <!--<span class="input-group-text" id="basic-addon2">@qq\123\sohu.com</span>-->
                                <!--</div>-->
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="workTime">入职时间</label>
                            <input type="text" class="form-control" id="workTime" name="workTime"
                                   placeholder="请填写" >
                        </div>
                    </div>

                    <div class="form-row" id="workAddress" data-toggle="distpicker">
                        <div class="form-group col-md-4">
                            工作地址: <label for="province" style="padding-left: 30px">省</label>
                            <select id="province" name="province" class="form-control">
                                <option selected>Choose...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="city">市</label>
                            <select id="city" name="city" class="form-control">
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="country">县</label>
                            <select id="country" name="country" class="form-control">
                                <option selected>Choose...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="liveAddress">家庭住址</label>
                        <input type="text" id="liveAddress" name="liveAddress" class="form-control"
                               placeholder="请填写">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="isMa">已婚</label>
                            <input type="radio" class="form-control" id="isMa" value="1" name="isMarry"
                                   placeholder="请填写">
                            <label for="noMa">未婚</label>
                            <input type="radio" class="form-control" id="noMa" name="isMarry" value="0"
                                   placeholder="请填写">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="isMan">男性</label>
                            <input type="radio" class="form-control" id="isMan" value="1" name="sex"
                                   placeholder="请填写">
                            <label for="isWomen">女性</label>
                            <input type="radio" class="form-control" id="isWomen" name="sex" value="0"
                                   placeholder="请填写">
                        </div>
                    </div>


                    <div class="form-group">

                        <button type="button" id="userEdit"
                                class="btn btn-outline-primary btn-lg btn-block" style="width: 100%" >
                            保存信息
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>



<div class="modal fade " id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="changePasswordModalLabel"></h4>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <form  id="changePassword" style="margin-top: 10px">
<input type="hidden" name="id" >
                    <div class="form-group">
                        <div class="row">
                            <label style="float: left;margin-left: 17px;"><font style="color: red;" size="2">*</font>
                                新密码</label>
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="新密码" id="pass1"
                                           name="password"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="新密码 不能为空"

                                           data-bv-identical="true"
                                           data-bv-identical-field="pass2"
                                           data-bv-identical-message="两次密码不一致">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><span
                                              class="glyphicon glyphicon-eye-close" aria-hidden="true"
                                              id="eyes1"></span></button>
                                </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-12 -->
                        </div><!-- /.row -->
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label style="float: left;margin-left: 17px;"><font style="color: red;" size="2">*</font>
                                确认密码</label>
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="确认密码" id="pass2"
                                           name="checkPassword"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="再次输入密码"
                                           data-bv-identical="true"
                                           data-bv-identical-field="pass1"
                                           data-bv-identical-message="两次密码不一致">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><span
                                              class="glyphicon glyphicon-eye-close" aria-hidden="true"
                                              id="eyes2"></span></button>
                                </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-12 -->
                        </div><!-- /.row -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" id="changeP">修改</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="commons/common::scriptSrc"></div>
<script th:src="@{/asserts/distpicker/distpicker.data.js}"></script>
<script th:src="@{/asserts/distpicker/distpicker.js}"></script>
<script th:src="@{/asserts/jquery/ajaxfileupload.js}"></script>
<script th:src="@{/asserts/js/my/users-admin.js}"></script>
<script>
    $('#resetBtn').click(function () {
        $('#name').val('');
        $userTable.draw(false);
    })
</script>
</body>

</html>
