/*模态框 打卡css*/
.circle {
    width: 140px;
    height: 140px;
    background: #3a7dee;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    margin-left: 40%;
    cursor: pointer;
}
.span1 {
    position: absolute;
    top: 10%;
    right: 32%;
}
.span3 {
    position: absolute;
    top: 29%;
    margin-left: 5%;
    word-break:normal;
    width:110px;
    display:block;
    white-space:pre-wrap;
    word-wrap : break-word ;
    overflow: hidden ;

}
.span2 {
    position: absolute;
    top: 57%;
    right: 26%;
}